body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
}

body header {
  position: relative;
  background-color: #bc002d;
  color: white;
  margin-top: 0px;
  padding: 5px 30px;
}

body nav {
  background-color: white;
  font-weight: bold;
  color: #bc002d;
  text-align: center;
  width: 100%;
  display: grid;
  position: sticky;
  z-index: 10;
  top: 0px;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}

body nav a {
  position: static;
  border: none;
  padding: 10px;
  color: #bc002d;
}

body nav a:any-link {
  text-decoration: none;
}

body nav a:hover, body nav a.active {
  background-color: #bc002d;
  color: white;
}

@media (min-width: 700px) {
  main {
    grid-template-areas: 'pic essay' 'info essay';
    grid-template-columns: 350px minmax(150px, 500px);
  }
}

@media (max-width: 699px) {
  main {
    grid-template-areas: 'pic info' 'essay essay';
    grid-template-columns: 250px minmax(100px, 350px);
  }
}

main {
  position: relative;
  align-self: center;
  display: grid;
  grid-template-rows: 250px minmax(100px, 500px);
  justify-content: center;
}

main > div {
  position: relative;
  /*border: 1px solid yellow;*/
  padding: 20px;
  align-items: center;
  margin: 50px;
}

main #pic {
  grid-area: pic;
  width: 250px;
  height: 250px;
  justify-content: right;
  padding: 0px;
  border: 1px solid blue;
  overflow: hidden;
}

main #pic img {
  max-height: 100%;
  margin-left: -100px;
}

main #info {
  grid-area: info;
}

main #info #name {
  font-weight: bolder;
}

main #info #soc_med {
  list-style-type: none;
  padding-left: 0px;
}

main #info #soc_med li {
  display: inline;
}

main #info #soc_med img {
  width: 40px;
  height: 40px;
}

main #essay {
  grid-area: essay;
  /*background-color: blue; */
  height: 1000px;
  padding: 50px;
}
