@import "style";

main {

    >div {
        justify-content: center;
        align-content: center;
        padding: 20px;
        margin: 20px;
        text-align: center;
        align-items: center;

        h4 {
            margin: auto;
            position:relative;
            max-width: 1000px;
        }

    }

    >div.script {
        >.buffer {
            height:10px;
        }

        >h2{
            text-align: center;
            padding: 10px;
            border-top: 5px  solid black;
            border-bottom: 5px  solid black;        
        }

        >div {
            justify-content: center;
            padding: 20px;  
        }

        table {
            position: relative;
            margin:auto;
            text-align: center;
            font-weight: bolder;

            th{
                font-size:20px;
                padding:20px;
            }
            
            tr {
                padding: 100px;
            }

            .card {
                width: auto;
                margin: 10px;

                @media screen and (max-width:720px) {
                    margin:0px; 
                }


                .card-body {
                    height:70px;
                }
            }
        }

        
        div.d-flex {
            
            display:flex;
            flex-wrap: wrap;

            margin:10px;
            text-align: center;
            font-weight: bolder;
            
            .card{
                min-width: 50px;
                margin: 5px;
            }
            
        }
    }

}